@media screen and (min-width: 750px) {
    .indexWrap {
        width: 1260px;
        margin: 0 auto;
        .breadcrumb {
            width: 1260px;
            margin: 20px auto;
        }
        .zthd_year {
            border-bottom: 2px solid #007dde;
            padding-top: 0;
            display: flex;
            .y2 {
                width: 180px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                color: #007dde;
                font-size: 28px;
                font-family: "微软雅黑";
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .y1 {
                background: #007dde;
                color: #fff;
                width: 180px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                font-size: 28px;
                font-family: "微软雅黑";
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
        .previousWrap {
            margin-top: 30px;
        }
    }
}
@media screen and (max-width: 750px) {
    .indexWrap {
        width: 100%;
        margin: 0 auto;
        .breadcrumb {
            width: 95%;
            margin: 20px auto;
        }
        .zthd_year {
            width: 95%;
            border-bottom: 2px solid #007dde;
            padding-top: 0;
            display: flex;
            margin: 0 auto;
            .y2 {
                width: 180px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                color: #007dde;
                font-size: 28px;
                font-family: "微软雅黑";
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 1px;
            }
            .y1 {
                background: #007dde;
                color: #fff;
                width: 180px;
                height: 54px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                overflow: hidden;
                font-size: 28px;
                font-family: "微软雅黑";
                cursor: pointer;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
        .previousWrap {
            margin-top: 30px;
        }
    }
}
